:root {
  --text-color-basic: #000000;
  --text-color-second: #333333;
  --text-color-error: #ff5757;
  --text-color-hover: #756157;
  --text-color-active: rgba(117, 97, 87, 0.3);
  --text-color-on-background: #ffffff;
  --text-color-on-background-small: rgba(255, 255, 255, 0.3);
  --text-color-on-background-hover: rgba(255, 255, 255, 0.6);
  --text-color-on-background-active: rgba(255, 255, 255, 0.3);
  --buttons-color-basic: #756157;
  --buttons-color-basic-hover: #615048;
  --buttons-color-second: #82b3d3;
  --buttons-color-second-hover: #68a2ca;
  --buttons-color-select: #7db54f;
  --buttons-color-select-hover: #6c9e42;
  --buttons-color-disabled: #e5e5e5;
  --background-color-base: #ffffff;
  --background-color-substrate: #f2f2f2;
  --background-color-basic: #82b3d3;
  --background-color-second-1: rgba(131, 179, 211, 0.12);
  --background-color-second-2: rgba(131, 179, 211, 0.2);
  --icon-color-basic: #000000;
  --icon-color-second: #83b3d3;
  --icon-color-second-hover: #68a2ca;
  --icon-color-second-active: rgba(104, 162, 202, 0.3);
  --inputs-color: #3f5e72;
  --forms-elements-1: #e5e5e5;
  --forms-elements-2: #f2f2f2;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
  background-color: var(--background-color-substrate);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  color: var(--text-color-basic);

  box-shadow: 0 0 15px 0 var(--shadow-color);
  background-color: var(--background-color-base);
}

.block-side-paddings {
  padding: 0 70px;
}

.main-header {
  display: flex;
  column-gap: 29px;
  margin-bottom: -6px;
  min-height: 64px;
}

.main-logo {}

.main-logo__img {
  display: block;

  position: relative;
  z-index: 1;
}

.main-nav {
  display: flex;
  justify-content: space-between;

  margin-right: auto;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-bottom: 6px; /* для компенсации margin -6px у main-header, чтобы кнопка была по цетру "видимой" области. */
  list-style: none;
}

.main-nav__item {
  display: flex;
  padding: 0 16px;
  height: 64px;
}

.main-nav__link {
  display: flex;
  align-items: center;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--text-color-basic);
  text-decoration: none;
}

.main-nav__link_current {
  border-bottom: solid 2px var(--buttons-color-basic);
}

.custom-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 6px; /* для компенсации margin -6px у main-header, чтобы кнопка была по цетру "видимой" области. */

  list-style: none;
}

.custom-menu__item {
  padding: 0 12px;

  &:last-child {
    margin-left: 20px;
    padding: 0;
  }
}

.custom-menu__search-btn {
  display: block;
  width: 19px;
  height: 19px;

  background-image: url("../images/main-header/custom-menu/search-icon.svg");
  background-repeat: no-repeat;
}

.custom-menu__favorites-btn {
  display: block;
  width: 20px;
  height: 20px;

  background-image: url("../images/main-header/custom-menu/favourites-icon.svg");
  background-repeat: no-repeat;
}

.custom-menu__btn {
  display: block;
  width: 160px;
  height: 36px;
  padding: 8px 34px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-color-on-background);
  text-transform: uppercase;
  text-align: center;

  background-color: var(--buttons-color-basic);
  border-radius: 4px;
  cursor: pointer;
}

.main,
.main-inner {
  flex-grow: 1;
}

.banner {
  padding-top: 51px;
  min-height: 485px;

  background-color: var(--background-color-second-2);
  background-image: url("../images/banner/banner-background.jpg");
  background-repeat: no-repeat;
}

.banner__wellcome-text {
  display: block;
  margin: 0 auto;
}

.advantages {
  padding-top: 69px;

  & .bold-text-large {
    margin: 0 0 26px;
  }

  & .basic-text {
    margin: 0 0 90px;
  }
}

.bold-text-large {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.basic-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: var(--text-color-second);
  text-align: center;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 385px;

  &:nth-child(odd) {
    background-color: var(--background-color-second-2);

    &:has(img) {
      background-color: var(--background-color-basic);
    }
  }

  &:nth-child(even) {
    background-color: var(--background-color-second-1);

    &:has(img) {
      background-color: var(--background-color-basic);
    }
  }

  &:has(img) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.advantages__list-text-wrapper {
  width: 400px;
  padding: 113px 80px 80px 80px;

  text-align: center;

  & .bold-text-medium {
    margin: 0 0 62px 0;
  }

  & .blocks-text {
    margin: 0;
  }
}

.bold-text-medium {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.blocks-text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: var(--text-color-second);
}

.inverse-text {
  color: var(--text-color-on-background);
}

.advantages-img {
  display: block;
  max-width: 800px;
  height: auto;

}

.services {
  padding-top: 62px;

  & .bold-text-large {
    margin: 0 0 20px;
  }

  & .basic-text {
    margin: 0 0 64px;
  }

  & .bold-text-medium {
    margin: 0 0 30px;
  }

  & .blocks-text {
    margin: 0;
  }
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  min-height: 385px;
  padding: 184px 85px 30px 85px;

  text-align: center;

  background-repeat: no-repeat;
  background-position: center 81px;

  &:nth-child(odd) {
    background-color: var(--background-color-second-1);
  }
}

.services__item_housing {
  background-image: url(../images/services/housing-icon.svg);
}

.services__item_food {
  background-image: url(../images/services/food-icon.svg);
}

.services__item_souvenirs {
  background-image: url(../images/services/souvenirs-icon.svg);
}


.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px;

  & .bold-text-large {
    margin: 0 0 20px;
  }

  & .basic-text {
    margin: 0 0 54px;
  }
}

.hotel-search__button {
  padding: 8px 50px;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--text-color-on-background);
  text-transform: uppercase;

  background-color: var(--buttons-color-basic);
  border-radius: 4px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 96px 104px;

  & .bold-text-large {
    margin: 0 0 20px;
  }

  & .basic-text {
    margin: 0 0 54px;
  }
}

.subscribe_with-background {
  background-color: var(--background-color-second-2);
  background-image: url("../images/subscribe/subscribe-background.jpg");
  background-repeat: no-repeat;
}

.subscribe__form {
  display: flex;
  justify-content: center;
}

.subscribe__input {
  padding: 14px 20px;
  width: 452px;

  font-size: 18px;
  line-height: 24px;

  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.subscribe__input_without-background {
  background-color: var(--forms-elements-2);
}

.subscribe__button {
  padding: 8px 0;
  width: 232px;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--text-color-on-background);
  text-transform: uppercase;

  background-color: var(--buttons-color-second);
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.main-footer__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  padding-top: 15px;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.socials__link {
  display: block;
  width: 48px;
  height: 40px;

  background-repeat: no-repeat;
  background-position: center center;
}

.socials__link_vk {
  background-image: url(../images/main-footer/socials/vk-icon.svg);
}

.socials__link_tg {
  background-image: url(../images/main-footer/socials/tg-icon.svg);
}

.socials__link_youtube {
  background-image: url(../images/main-footer/socials/youtube-icon.svg);
}

.tel {
  font-size: 40px;
  line-height: 40px;
  color: var(--text-color-basic);
  text-decoration: none;
}

/* Классы catalog.html */
.catalog__header {
  padding-top: 35px;
  padding-bottom: 35px;
  min-height: 412px;

  background-color: var(--background-color-basic);
  background-image: url("../images/catalog/catalog-header/catalog-header-background.jpg");
  background-repeat: no-repeat;
}

.bold-text-extralarge {
  margin: 0 0 8px;

  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrambs {
  display: flex;
  align-items: center;
  margin: 0 0 40px;
  padding: 0;

  list-style: none;
}

.breadcrambs__icon {
  display: block;
  width: 15px;
  height: 15px;

  background-image: url("../images/catalog/catalog-header/breadcrambs/home-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.breadcrambs__link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-filter__fieldset {
  display: flex;
  flex-direction: column;
  min-height: 160px;
  margin: 0;
  padding: 0;

  border: none;
}

.catalog-filter__legend {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.catalog-filter__label {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog-filter__buttons-wrapper {
  display: flex;
  flex-direction: column;
}

.catalog-filter__button {
  padding: 8px 50px;
  margin-top: auto;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-color-on-background);
  text-transform: uppercase;

  background-color: var(--buttons-color-second);
  border: none;
  border-radius: 4px;
}

.catalog-filter__button_reset {
  margin-top: 32px;

  background-color: transparent;
}

.catalog-filter__view-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 40px;

  & .bold-text-large {
    margin: 0 130px 0 0;
  }
}

.catalog__select {
  width: 292px;
  height: 49px;
  flex-shrink: 0;

  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color-second);

  background-color: transparent;
  border: 2px solid var(--forms-elements-1);
  border-radius: 4px;
}

.custom-select {
  background: url("../images/catalog/catalog-header/select-icon.svg") no-repeat right 17px center;
  padding: 5px 20px 5px 19px; /* Резервируем место под стрелку */
  -webkit-appearance: none; /* Стиль для Safari */
  -moz-appearance: none;    /* Стиль для Firefox */
  appearance: none;         /* Стиль для прочих браузеров */
}

.cards-view {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}



.cards-view__button {
  width: 48px;
  height: 48px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--forms-elements-1);
  border-radius: 4px;
  cursor: pointer;
}

.cards-view__button_current {
  border: 2px solid var(--icon-color-basic);
}

.cards-view__button_regular {
  background-image: url("../images/catalog/view-icons/regular-view-icon.svg");
}

.cards-view__button_large {
  background-image: url("../images/catalog/view-icons/large-view-icon.svg");
}

.cards-view__button_table {
  background-image: url("../images/catalog/view-icons/table-view-icon.svg");
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding-bottom: 40px;

  list-style: none;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  column-gap: 20px;
  width: 340px;
  padding: 20px;

  box-shadow: 0 0 1px 1px var(--forms-elements-1);
  border-radius: 4px;

  & .blocks-text {
    margin: 0 0 16px;
  }
}

.card__img {
  display: block;
  width: 100%;
  height: auto;
  grid-column: 1/-1;
  margin: 0 0 16px;
}

.card__heading {
  margin: 0 0 16px;
  grid-column: 1/-1;

  font-size: 24px;
  line-height: 28px;
}

.card__price {
  text-align: end;
}

.card__link {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-color-on-background);
  text-transform: uppercase;

  background-color: var(--buttons-color-basic);
  border-radius: 4px;
}

.card__button {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-color-on-background);
  text-transform: uppercase;

  background-color: var(--buttons-color-second);
  border: none;
  border-radius: 4px;
}

.card__button_selected {
  background-color: var(--buttons-color-select);
}

.stars-qualification {
  display: block;
  height: 18px;
  margin: 0;
  align-self: center;

  background-image: url(../images/catalog/cards/star-icon.svg);
  background-repeat: space;
  background-position: 0 center;
  background-size: 18px auto;
}

.one-star-qualification {
  width: 18px;
}

.two-stars-qualification {
  width: 42px;
}

.three-stars-qualification {
  width: 66px;
}

.four-stars-qualification {
  width: 89px;
}

.five-stars-qualification {
  width: 104px;
}

.card__rating {
  margin: 0;
  padding: 9px 8px 8px;

  font-size: 16px;
  line-height: 20px;
  color: var(--text-color-second);
  text-align: center;
  text-transform: uppercase;

  background-color: var(--forms-elements-2);
  border-radius: 4px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 60px;

  list-style: none;
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  padding: 10px;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--text-color-on-background);
  text-transform: uppercase;

  background-color: var(--buttons-color-second);
  border: none;
  border-radius: 4px;
}

.pagination__link_current {
  color: var(--text-color-basic);

  background-color: var(--forms-elements-2);
}

.pagination__link_separator {
  color: var(--text-color-basic);

  background-color: transparent;
}
