:root {
  --text-color_basic: #000000;
  --text-color_second: #333333;
  --text-color_error: #ff5757;
  --text-color_hover: #756157;
  --text-color_active: rgba(117, 97, 87, 0.3);
  --text-color_on-background: #ffffff;
  --text-color_on-background-small: rgba(255, 255, 255, 0.3);
  --text-color_on-background-hover: rgba(255, 255, 255, 0.6);
  --text-color_on-background-active: rgba(255, 255, 255, 0.3);
  --buttons-color_basic: #756157;
  --buttons-color_basic-hover: #615048;
  --buttons-color_second: #82B3D3;
  --buttons-color_second-hover: #68A2CA;
  --buttons-color_select: #7DB54F;
  --buttons-color_select-hover: #6C9E42;
  --buttons-color_disabled: #e5e5e5;
  --background-color_basic: #82B3D3;
  --background-color_second-1: rgba(131, 179, 211, 0.12);
  --background-color_second-2: rgba(131, 179, 211, 0.2);
  --icon-color_basic: #000000;
  --icon-color_second: #83B3D3;
  --icon-color_second-hover: #68A2CA;
  --icon-color_second-active: rgba(104, 162, 202, 0.3);
  --inputs-color: #3F5E72;
  --forms-elements-1: #e5e5e5;
  --forms-elements-2: #f2f2f2;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  width: 1200px;
  margin: 0 auto;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  color: var(--text-color_basic);
}

.main-header {
  display: flex;
  padding: 0 70px;
  margin-bottom: -6px;
}

.main-logo {}

.main-logo__img {
  display: block;
  margin-right: 29px;
}

.main-nav {
  display: flex;
  justify-content: space-between;

  height: 64px;
  margin-right: auto;
}

.main-nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: flex;
  padding: 0 16px;
}

.main-nav__link {
  display: flex;
  align-items: center;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--text-color_basic);
  text-decoration: none;
}

.main-nav__link_current {
  border-bottom: solid 2px var(--buttons-color_basic);
}

.custom-menu {
  display: flex;
  align-items: center;
  height: 64px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.custom-menu__item {
  padding: 0 12px;

  &:last-child {
    margin-left: 20px;
    padding: 0;
  }
}

.custom-menu__search-btn {
  display: block;
  width: 19px;
  height: 19px;

  background-image: url("../images/main-header/custom-menu/search-icon.svg");
  background-repeat: no-repeat;
}

.custom-menu__favorites-btn {
  display: block;
  width: 20px;
  height: 20px;

  background-image: url("../images/main-header/custom-menu/favourites-icon.svg");
  background-repeat: no-repeat;
}

.custom-menu__btn {
  padding: 8px 34px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-color_on-background);
  text-transform: uppercase;

  background-color: var(--buttons-color_basic);
  border-radius: 4px;
  cursor: pointer;
}

.main {}

.banner {
  padding-top: 51px;
  margin-bottom: 69px;
  min-height: 485px;

  background-color: var(--background-color_second-2);
  background-image: url("../images/banner/banner-background.jpg");
  background-repeat: no-repeat;
}

.banner__wellcome-text {
  display: block;
  margin: 0 auto;
}

.advantages {
  margin-bottom: 62px;

  & .bold-text-large {
    margin: 0 0 26px;
  }

  & .basic-text {
    margin: 0 0 90px;
  }
}

.bold-text-large {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.basic-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: var(--text-color_second);
  text-align: center;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  list-style: none;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 400px;
  height: 385px;

  text-align: center;

  & p {
    padding: 0 80px;
    margin: 0 0 62px 0;
  }

  & .blocks-text {
    margin: 0;
  }

  &:nth-child(odd) {
    background-color: var(--background-color_second-2);
  }

  &:nth-child(even) {
    background-color: var(--background-color_second-1);
  }

  &:first-child,
  &:last-child {
    width: 1200px;
    height: 385px;
    padding: 0;

    background-color: var(--background-color_basic);

    & p {
      max-width: 400px;
    }
  }
}

.bold-text-medium {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.blocks-text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: var(--text-color_second);
}

.inverse-text {
  color: var(--text-color_on-background);
}

.advantages-img {
  display: block;
}

.services {
  margin-bottom: 96px;

  & .bold-text-large {
    margin: 0 0 20px;
  }

  & .basic-text {
    margin: 0 0 64px;
  }

  & .bold-text-medium {
    margin: 183px 0 30px;
  }

  & .blocks-text {
    margin: 0;
  }
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services__item {
  width: 400px;
  height: 385px;
  padding: 0 85px;

  text-align: center;

  background-repeat: no-repeat;
  background-position: center 81px;

  &:nth-child(1) {
    background-image: url(../images/services/housing-icon.svg);
  }

  &:nth-child(2) {
    background-image: url(../images/services/food-icon.svg);
  }

  &:nth-child(3) {
    background-image: url(../images/services/souvenirs-icon.svg);
  }

  &:nth-child(odd) {
    background-color: var(--background-color_second-1);
  }
}

.hotel-search {}

.hotel-search__button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--text-color_on-background);
  text-transform: uppercase;

  background-color: var(--buttons-color_basic);
}

.main-footer {}

.subscribe {}

.subscribe_with-background {
  background-color: var(--background-color_second-2);
  background-image: url("../images/subscribe/subscribe-background.jpg");
  background-repeat: no-repeat;
}

.subscribe__form {}

.subscribe__button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--text-color_on-background);
  text-transform: uppercase;

  background-color: var(--buttons-color_second);
  border: none;
}

.socials {
  margin: 0;
  padding: 0;

  list-style: none;
}

.socials__item {}

.socials__link {}

.socials__icon {}

.tel {
  font-size: 40px;
  line-height: 40px;
  color: var(--text-color_basic);
  text-decoration: none;
}

.main-footer__logo-link {}

.main-footer__logo {}

.hotel-search-modal {}

.hotel-search-modal__close-button {}

/* Классы catalog.html */
.main-inner {}

.catalog {}

.catalog__header {
  background-color: var(--background-color_basic);
  background-image: url("../images/catalog/catalog-header/catalog-header-background.jpg");
  background-repeat: no-repeat;
}

.bold-text-extralarge {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrambs {
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrambs__item {}

.breadcrambs__icon {}

.breadcrambs__link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter {}

.catalog-filter__fieldset {}

.catalog-filter__legend {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter__label {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter__button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-color_on-background);
  text-transform: uppercase;

  background-color: var(--buttons-color_second);
  border: none;
}

.catalog-filter__button_reset {
  background-color: transparent;
}

.range {}

.catalog__select {
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color_second);

  background-color: transparent;
  border: 2px solid var(--forms-elements-1);
}

.cards-view {
  margin: 0;
  padding: 0;

  list-style: none;
}

.cards-view__item {}

.cards-view__button {
  width: 48px;
  height: 48px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--forms-elements-1);
  border-radius: 4px;
  cursor: pointer;
}

.cards-view__button_current {
  border: 2px solid var(--icon-color_basic);
}

.cards-view__button_regular {
  background-image: url("../images/catalog/view-icons/regular-view-icon.svg");
}

.cards-view__button_large {
  background-image: url("../images/catalog/view-icons/large-view-icon.svg");
}

.cards-view__button_table {
  background-image: url("../images/catalog/view-icons/table-view-icon.svg");
}

.cards {
  margin: 0;
  padding: 0;

  list-style: none;
}

.card {}

.card__img {}

.card__heading {
  font-size: 24px;
  line-height: 28px;
}

.blocks-text {}

.card__link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-color_on-background);
  text-transform: uppercase;

  background-color: var(--buttons-color_basic);
}

.card__button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-color_on-background);
  text-transform: uppercase;

  background-color: var(--buttons-color_second);
  border: none;
}

.card__button_selected {
  background-color: var(--buttons-color_select);
}

.stars {}

.card__rating {
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color_second);
}

.pagination {
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination__item {}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--text-color_on-background);
  text-transform: uppercase;

  background-color: var(--buttons-color_second);
  border: none;
  border-radius: 4px;
}

.pagination__link_current {
  color: var(--text-color_basic);

  background-color: var(--forms-elements-2);
}

.pagination__link_separator {
  color: var(--text-color_basic);

  background-color: transparent;
}
